@use 'base/mixins' as m;
@use 'base/variables' as v;

@media (prefers-color-scheme: dark) {
    $dark: #161618;
    body {
        background-color: $dark;
    }

    .tagline,
    .formulario label {
        color: v.$blanco;
    }

    .descripcion-pagina,
    .formulario .campo input,
    .nombre-pagina {
        color: darken(v.$grisClaro, 15%);
    }

    .formulario .campo input,
    .dashboard .formulario input:not([type=submit]) {
        background-color: lighten($color: $dark, $amount: 15%);
        
        &:hover {
            background-color: lighten($color: $dark, $amount: 25%);
        }
    }

    .alerta.error {
        background-color: v.$rojo;
        color: v.$blanco;
        border-left: 0.5rem solid #5a0000;
    }

    .sidebar {
        @include m.tablet {
            background-color: darken($color: v.$grisOscuro, $amount: 5%);
        }

        .sidebar-nav a {
            &:hover,
            &.activo {
                background-color: v.$naranja;
            }
        }
    }
    
    .barra .cerrar-sesion,
    .sidebar .cerrar-sesion-mobile .cerrar-sesion {
        background-color: v.$naranja;

        &:hover {
            background-color: darken($color: v.$naranja, $amount: 15%)
        }
    }

    .barra-mobile,
    .barra {
        background-color: darken(v.$grisOscuro, 5%);

        p span {
            color: v.$naranja;
        }
    }

    .no-proyectos a {
        color: v.$naranja;
    }

    .contenedor-nueva-tarea .agregar-tarea {
        background-color: v.$naranja;

        &:hover {
            background-color: darken($color: v.$naranja, $amount: 15%)
        }
    }

    .filtros {
        background-color: lighten($color: v.$grisOscuro, $amount: 10%);
        
        h2,
        label {
            color: v.$blanco;
        }

        input[type="radio"] {
            accent-color: v.$naranja;
        }
    }

    .listado-tareas .tarea {
        background-color: lighten($color: v.$grisOscuro, $amount: 10%);

        p {
            color: v.$grisClaro;
        }

        &:last-of-type {
            border-bottom: 2px solid v.$grisClaro;
        }
    }

    .modal .formulario {
        background-color: v.$grisOscuro;

        legend {
            color: v.$grisClaro;
        }
    }

    .dashboard {
        background-color: $dark;
    }

    .listado-proyectos .proyecto,
    .dashboard .formulario input[type="submit"] {
        background-color: lighten($color: v.$grisOscuro, $amount: 20%);

        &:hover {
            background-color: lighten($color: v.$grisOscuro, $amount: 15%);
        }
    }

    .dashboard .enlace {
        background-color: lighten($color: v.$grisOscuro, $amount: 20%);
        color: v.$blanco;
        border: none;

        &:hover {
            background-color: lighten($color: v.$grisOscuro, $amount: 15%);
            color: v.$blanco;
            border: none;
        }
    }

    .dashboard .principal {
        @include m.tablet {
            &::-webkit-scrollbar-track {
                background: $dark;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: v.$naranja;
                border-radius: 1rem;
            }   
        }
    }
}

@media (prefers-color-scheme: light) {
    $light: v.$grisClaro;
    body {
        background-color: $light;
    }
}